mainmenu "npc configuration menu"

menu "Architecture"

# config ARCH


endmenu

menu "Debugging and Tracing"

config TRACE
    bool "Enable trace"
    default y

config ITRACE
    bool "Enable instruction trace"
    depends on TRACE
    default y

config MTRACE
    bool "Enable memory trace"
    depends on TRACE
    default y

config FTRACE
    bool "Enable function trace"
    depends on TRACE
    default y

config WTRACE
    bool "Enable waveform trace"
    depends on TRACE
    default y

config WAVEFORM_FILE
    string "Waveform file"
    depends on WTRACE
    default "waveform.vcd"

config DIFFTEST
    bool "Enable diff test"
    default y

config MAX_PRINT_INST
    int "Max number of instructions to print in stdio"
    default 10

endmenu
